<div id="nuevo">
<h1>Editar</h1>
<br>
<%= render 'form' %>

<button class="box"><%= link_to 'Mostrar', @registro_compra %></button>
<button class="box"><%= link_to 'Atras', registro_compras_path %></button>
</div>